#title{
    text-align: left;
  }
  
  .eyeglasses-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .eyeglasses-card {
    width: 360px;
    text-align: center;
    position: relative;
  }
  
  .eyeglasses-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .color-text {
    color: gray;
    font-size: 14px;
  }
  
  .favourite-label {
    position: absolute;
    top: 1px;
    left: 30px;
    color: rgb(0, 0, 0);
    padding: 3px 5px;
    font-size: 12px;
    font-weight: bold;
  }

  .eyeglasses-image:hover {
    transform: scale(1.05); /* phóng to nhẹ khi hover */
  }
  